
{% extends "::layout.html.twig" %}

{% block body %}
    <link rel="stylesheet" href="{{ asset('css/LoadingSplit.css') }}" />

	<span class="LoadingSplit">
	{{quantites}}
	</span> 

{% endblock %}



