
{% extends "::layout.html.twig" %}

{% block body %}
    <link rel="stylesheet" href="{{ asset('css/LoadingSplit.css') }}" />

	<div class="LoadingSplit">
	{#{remaining}#}
	</div> 

{% endblock %}



