
{% extends "::layout.html.twig" %}

{% block body %}
    <link rel="stylesheet" href="{{ asset('css/LoadingSplit.css') }}" />
    <h3>Repartition des chargements par CP de la commande {{ po }}</h3>
	<table class="LoadingSplit">
	                   					                        
						<thead>
							<tr>
								<th>PO</th>
								<th>IdLoading</th>
								{% for loadingsplitsku in listCp %}
                                <th>{{loadingsplitsku}}</th>
								{% endfor %}
							</tr>
						</thead>
						 
						<tbody>
	
	                    <td></td>
						<td></td>
						<td></td>
						</tbody>
	</table> 

{% endblock %}



